<section class="mt-3">
  <!-- Auteur -->
  <div class="row">
    <div class="col-md-3">
      <img
        src="assets/images/userdata/fatima.jpg"
        class="rounded-circle"
        height="60"
        width="60"
        alt="Avatar"
      />
    </div>
    <div class="col-md-9">
      <ul class="pl-1 mt-1 list-unstyled">
        <li>
          <p class="ml-3 text-dark mb-0 mt-1">
            <strong>Tima_s</strong>
          </p>
        </li>
        <li>
          <small class="ml-3 text-dark">
            Influenceuse
          </small>
        </li>
      </ul>
    </div>
  </div>
  <!-- Suggestion -->
  <div>
    <small class="text-dark">Suggestion pour vous</small>
    <span style="float: right">Voir tout</span>
  </div>
  <!-- Suggested user -->
  <div class="row" *ngFor="let sug of suggestions">
    <div class="col-md-2" >
      <img
        src="{{sug.image}}"
        class="rounded-circle mt-2"
        height="40"
        alt="Avatar"
      />
    </div>
    <div class="col-md-8">
      <ul class="ml-0 pl-1 mt-1 list-unstyled">
        <li>
          <small class="user-name">
            <strong>{{sug.name}}</strong>
          </small>
        </li>
        <li>
          <span class="user-name">
            Suivi(e) par {{sug.suivi_par}} + {{sug.nbrSuivi}} autres...
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <a href="" class="user-name mt-4 text-primary">Suivre</a>
    </div>
  </div>
</section>
