.fa-ellipsis-h, .fa-bookmark {
  float: right;
}
button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.heart {
  width: 16px;
  height: 16px;
  background-image: url('/assets/images/heart-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

button.liked .heart {
  background-image: url('/assets/images/heart-icon-filled.png');
}

button .heart, button span {
  transition: color 0.3s;
}

button:hover .heart, button:hover span {
  color: red;
}
.liked {
  color: red;
  background-color: red;
}
.glyphicon {
  color: #333;
  cursor: pointer;
}

.highlighted {
  color: deeppink;
}
